<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container" style="padding-top:15%;">


		<!-- Top row with form-->
		<div class="row" style="justify-content: center;">
			<div class="col-3" style="justify-content: center;">
				<a th:href="@{/ui/brand}" title="Brand">
					<div class="row">
						<i class="fas fa-trademark icon-size"></i>
					</div>
					<div class="row">
						<h5>Brand</h5>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/product}" title="Product"> <i class="fas fa-icons icon-size"></i>
					<span>Product</span>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fas fa-list icon-size"></i>
					<span>Inventory</span>
				</a>
			</div>
		</div>
		&nbsp;
		<div class="row" style="justify-content: center;">

			<div class="col-3">
				<a th:href="@{/ui/order}" title="Orders"> <i class="fas fa-shipping-fast icon-size"></i>
					<span>Orders</span>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/reports}" title="Reports"> <i class="fas fa-receipt icon-size"></i>
					<span>Reports</span>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/admin}" title="Admin"> <i class="fas fa-cog icon-size"></i>
					<span>Admin</span>
				</a>
			</div>
		</div>



	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>