<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

	<nav th:replace="snippets.html :: name_app_navbar"></nav>

	<div class="container" style="padding-top:15%;">


		<!-- Top row with form-->
		<div class="row" style="justify-content: center;">
			<div class="col-3" style="justify-content: center;">
				<a th:href="@{/ui/brand}" title="Brand">
					<div class="co-3">
						<div class="row" style="justify-content: center;">
							<i class="fas fa-trademark icon-size"></i>
						</div>
						<div class="row" style="justify-content: center;">
							<h4>Brand</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/product}" title="Product">
					<div class="co-3">
						<div class="row" style="justify-content: center;">
							<i class="fa fa-tags icon-size"></i>
						</div>
						<div class="row" style="justify-content: center;">
							<h4>Product</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/inventory}" title="Inventory">
					<div class="co-3">
						<div class="row" style="justify-content: center;">
							<i class="fas fa-list icon-size"></i>
						</div>
						<div class="row" style="justify-content: center;">
							<h4>Inventory</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/order}" title="Order">
					<div class="co-3">
						<div class="row" style="justify-content: center;">
							<i class="fas fa-shipping-fast icon-size"></i>
						</div>
						<div class="row" style="justify-content: center;">
							<h4>Order</h4>
						</div>
					</div>
				</a>
			</div>
			<div class="col-3">
				<a th:href="@{/ui/reports}" title="Reports">
					<div class="co-3">
						<div class="row" style="justify-content: center;">
							<i class="fas fa-receipt  icon-size"></i>
						</div>
						<div class="row" style="justify-content: center;">
							<h4>Reports</h4>
						</div>
					</div>
				</a>
			</div>
		</div>



	</div> <!-- Container end-->

	<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>