<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>
    <div id="toast-container">
        <div class="toast" style="overflow:auto;">
            <div class="alert alert-success" role="alert" id="alert-box">Hello</div>
        </div>
    </div>
    <div class="container">

        <button type="button" class="btn btn-primary btn-lg btn-block" id="create-new-order-button">Create
            Order</button>;
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script type="module" th:src="@{/static/order_create.js}" />
    </script>

</body>

</html>