<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>
    <div id="toast-container">
        <div class="toast" style="overflow:auto;">
            <div class="alert alert-success" role="alert" id="alert-box">Hello</div>
        </div>
    </div>
    <div class="container overflow-auto">

        <h3>Order Preview </h3>
        <!-- Top row with form-->

        <div class="col-12" id="order-header">
            <!-- <h1></h1>\ -->
            <p style="text-align: left; width:49%; display: inline-block;" th:text="${orderId}" id="orderIdSelect"
                class="alignleft">
            </p>
            <p style="text-align: right; width:50%;  display: inline-block;" id="headingDate" class="alignright">
            </p>
        </div>

        <!-- Blank Row -->
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <!-- Table -->
            <div class="col-12">
                <table class="table table-striped" id="orderPreview-table">
                    <thead>
                        <tr>
                            <th scope="col">Barcode</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Selling Price</th>
                        </tr>
                    </thead>
                    <tbody>


                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">

            <div class="float-right">
                <div class="row">
                    <div class="column">
                        <label class="col-sm-2 col-form-label" id="show-cost">Cost</label>
                    </div>
                    <div class="column" id="buttonElement">
                        <!-- <button type="button" class="btn btn-primary" onclick="sendOrder()">Place</button> -->
                    </div>
                </div>
            </div>
        </div>

    </div>




    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>

    <script th:src="@{/static/orderPreview.js}" />
    </script>

</body>

</html>