<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

    <nav th:replace="snippets.html :: name_app_navbar"></nav>

    <div class="container" style="padding-top:15px;">

        <h3>Sales Report</h3>

        <form id="sales-form">
            <div class="row" style="padding-left: 30px; padding-right: 15px;">
                <label for="inputBrand" class="col-form-label justify-content-start">Brand</label>
                <input type="text" class="col form-control" name="brand" id="inputBrand" placeholder="Enter Brand">
            </div>
            <div class="row" style="padding-left: 30px; padding-right: 15px;">
                <label for="inputCategory" class="col-form-label justify-content-start">Category</label>
                <input type="text" class="col form-control" name="category" id="inputCategory"
                    placeholder="Enter Category">
            </div>
        </form>
        <div class="row" style="padding-left: 27px; padding-right: 13px;">
            <div class="col datepicker date input-group">
                <label for="startDate" class="justify-content-start">Start Date</label>
                <input id="startDate" type="text" placeholder="Choose Start Date" class="form-control" />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-clock-o fa-xl"></i>
                    </span>
                </div>
            </div>
            <div class="col datepicker date input-group">
                <label for="endDate" class="justify-content-start">End Date</label>
                <input id="endDate" type="text" placeholder="Choose End Date" class="form-control " />
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fa fa-clock-o fa-xl"></i>
                    </span>
                </div>
            </div>
        </div>
        &nbsp;
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-primary btn-sm" id="reset-data">Reset</button>
                <button type="button" class="btn btn-primary btn-sm" id="search-data">Search</button>
            </div>
        </div>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">

            <!-- Table -->
            <div class="col">
                <table class="table table-striped" id="sales-table">
                    <thead>
                        <tr>
                            <th scope="col">Category</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Revenue</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-success btn-sm" id="download-data">Download</button>
            </div>
        </div>
    </div> <!-- Container end-->

    <footer th:replace="snippets.html :: name_footer"></footer>
    <script th:src="@{/static/salesReport.js}" />
    </script>


</body>

</html>